{% extends 'base.html' %}
{% block content %}

{% load static %}
{% include 'includes/navbar.html' %}

{% include 'includes/alerts.html' %}


<!-- Main Section Start -->
<div class="main-section">
	<div class="page-section account-header buyer-logged-in my-5 py-5">
		<div class="container">
			<div class="row">
				<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
					<!-- SIDE BAR  -->
					{% include 'includes/sidebar.html' %}
				</div>
                <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                    <div class="user-dashboard loader-holder">
                        <div class="user-holder">
                            <h5 class="text-uppercase">Change Password</h5>
							<hr>
                                <form action="{% url 'change_password' %}" method="POST">
                                    {% csrf_token %}
                                    <div class="form-fields-set">
                                        <ul>
                                            <li>
                                                <div class="input-box">
                                                    <div class="single-input-fields">
                                                        <label >Current Password</label>
                                                        <input type="text" class="form-control" id="add1" name="current_password" required placeholder="Current Password"/>
                                                        
                                                    </div>
                                                    <div class="single-input-fields">
                                                        <label>New Password</label>
                                                        <input type="text" class="form-control" id="add1" name="new_password" required placeholder="New Password"/>
                                                        
                                                    </div>
                                                    <div class="single-input-fields">
                                                        <label>Confirm Password</label>
                                                        <input type="text" class="form-control" id="add1" name="confirm_password" required placeholder="Confirm Password"/>
                                                        
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                        <div>
                                            <div class="field-holder">
                                                <div class="payment-holder input-button-loader py-5">
                                                    <button class="btn" type="submit" > Update Password</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Main Section End -->










                


{% include 'includes/footer.html' %}

{% endblock content %}