{% extends 'base.html' %}

{% block content %}
{% include 'includes/alerts.html' %}

<main class="login-bg">

    <div class="login-form-area">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-7 col-lg-8">
                    <div class="login-form">
                        
                        <div class="login-heading">
                            <span>Reset Password</span>
                            <p>Reset your password.</p>
                        </div>
                        <form action="{% url 'reset_password' %}" method="POST">
                            {% csrf_token %}
                            <div class="input-box">
                                <div class="single-input-fields">
                                    <label>New Password</label>
                                    <input type="text" class="form-control" id="add1" name="password" required placeholder="New Password"/>
                                    
                                </div>
                                <div class="single-input-fields">
                                    <label>Confirm Password</label>
                                    <input type="text" class="form-control" id="add1" name="confirm_password" required placeholder="Confirm Password"/>
                                    
                                </div>
                            </div>
                            
                            <div class="errors float-left">
                                <ul class="error_list">
                                    {% for field in form %}
                                        {% if field.errors %}
                                            {% for error in field.errors %}
                                                <li style="color:red;">{{error}}</li>
                                            {% endfor %}
                                        {% endif %}
                                    {% endfor %}
                                </ul>
                            </div>

                            <div class="login-footer">
                                <p>Don’t have an account? <a href="{% url 'registerUser' %}">Sign Up</a> here</p>
                                <button type="submit" class="submit-btn3">Reset Password</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</main>


{% endblock content %}