{% load static %}





<footer>
    <div class="footer-wrapper">
    
    <div class="footer-area footer-padding">
    <div class="container ">
    <div class="row justify-content-between">
    <div class="col-xl-4 col-lg-3 col-md-8 col-sm-8">
    <div class="single-footer-caption mb-50">
    <div class="single-footer-caption mb-30">
    
    <div class="footer-logo mb-35">
    <a href=""><img src="{% static 'img/logo/logo2_footer.png' %}" alt=""></a>
    </div>
    <div class="footer-tittle">
    <div class="footer-pera">
    <p>Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla.</p>
    </div>
    </div>
    
    <div class="footer-social">
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="https://bit.ly/sai4ull"><i class="fab fa-facebook-f"></i></a>
    <a href="#"><i class="fab fa-pinterest-p"></i></a>
    </div>
    </div>
    </div>
    </div>
    <div class="col-xl-2 col-lg-2 col-md-4 col-sm-4">
    <div class="single-footer-caption mb-50">
    <div class="footer-tittle">
    <h4>Quick links</h4>
    <ul>
    <li><a href="#">Image Licensin</a></li>
    <li><a href="#">Style Guide</a></li>
    <li><a href="#">Privacy Policy</a></li>
    </ul>
    </div>
    </div>
    </div>
    <div class="col-xl-2 col-lg-2 col-md-4 col-sm-4">
    <div class="single-footer-caption mb-50">
    <div class="footer-tittle">
    <h4>Shop Category</h4>
    <ul>
    <li><a href="#">Image Licensin</a></li>
    <li><a href="#">Style Guide</a></li>
    <li><a href="#">Privacy Policy</a></li>
    </ul>
    </div>
    </div>
    </div>
    <div class="col-xl-2 col-lg-2 col-md-4 col-sm-4">
    <div class="single-footer-caption mb-50">
    <div class="footer-tittle">
    <h4>Pertners</h4>
    <ul>
    <li><a href="#">Image Licensin</a></li>
    <li><a href="#">Style Guide</a></li>
    <li><a href="#">Privacy Policy</a></li>
    </ul>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    
    <div class="footer-bottom-area">
    <div class="container">
    <div class="footer-border">
    <div class="row d-flex align-items-center">
    <div class="col-xl-12 ">
    <div class="footer-copy-right text-center">
    <p>
    Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | <p>Programmed and developed  by <a style="text-decoration: none;" href="https://github.com/shujan-ahamed"> <i class="fa fa-github"></i> Radoun Ahamed</a> <br>
        Project <a style="text-decoration: none;" href="https://github.com/shujan-ahamed/note-app">source code</a></p></a>
    </p>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    
    </div>
    </footer>
    
    <div id="back-top">
    <a title="Go to Top" href="#"> <i class="fas fa-level-up-alt"></i></a>
    </div>
    
    
    
    <!-- <script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13"></script>
        <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        
        gtag('config', 'UA-23581568-13');
        </script>
    -->
</body>
</html>