<div class="">
    <div class="side-bar">
        <ul class='list'>
            <li  ><a class="{% if '/dashboard/' in request.path %}border-btn{%else%}btn{% endif %}" href="{% url 'dashboard' %}"><i class="icon-dashboard3"></i>Dashboard</a></li>
            <li ><a class="{% if '/my_orders/' in request.path or '/order_details/' in request.path %}border-btn{%else%}btn{% endif %}" href="{% url 'my_orders' %}">My Orders</a></li>
            <li ><a class="{% if '/wish_list/' in request.path %}border-btn{%else%}btn{% endif %}" href="{% url 'wish_list' %}">Wish List</a></li>
            <li ><a class="{% if '/profile/' in request.path %}border-btn{%else%}btn{% endif %}" href="{% url 'profile' %}">Profile</a></li>
            <li ><a class="{% if '/change_password/' in request.path %}border-btn{%else%}btn{% endif %}" href="{% url 'change_password' %}">Set Password</a></li>
            <li ><a class="btn"  href="{% url 'logout' %}">Signout</a></li>
        </ul>
    </div>
</div>