{% extends 'base.html' %}
{% block content %} {% load static %}
{% include 'includes/navbar.html' %}

<main>
  <div class="slider-area">
    <div class="slider-active">
      <div
        class="single-slider hero-overly2 slider-height2 d-flex align-items-center slider-bg2"
      >
        <div class="container">
          <div class="row">
            <div class="col-xl-6 col-lg-8 col-md-8">
              <div class="hero__caption hero__caption2">
                <h1 data-animation="fadeInUp" data-delay=".4s">
                  Confirm Order
                </h1>
                <nav aria-label="breadcrumb">
                  <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                      <a href="{% url 'home' %}">Home</a>
                    </li>
                    <li class="breadcrumb-item"><a href="#">checkout</a></li>
                  </ol>
                </nav>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container mt-5 mb-5">
    <div class="justify-content-center row">
      <div class="col-md-8">
        <div class="bg-white p-3">
          <img
            src="{% static 'img/logo/logo2_footer.png' %}"
            alt="foodOnline Logo"
            width="100"
          />
          <div class="row">
            <div class="col-md-6">
              <h4 class="mt-2 mb-3">Thank you for your order.</h4>
            </div>
            <div class="col-md-6 text-right">
              <p class="mb-0">{{ order.full_name }}</p>
              <p class="mb-0">{{ order.address }}</p>
              <p class="mb-0">{{ order.phone }}</p>
              <p class="mb-0">{{ order.email }}</p>
            </div>
          </div>

          <h6>Hello {{ order.full_name }},</h6>
          <span>Review your order details below.</span>
          <hr />

          <div class="d-flex justify-content-between">
            <div>
              <span class="d-block">Order Date: </span
              ><span class="font-weight-bold">{{ order.created_at }}</span>
            </div>
            <div>
              <span class="d-block">Order No: </span
              ><span class="font-weight-bold">{{ order.order_number }}</span>
            </div>
            <div>
              <span class="d-block">Payment Method: </span
              ><span class="font-weight-bold">{{ order.payment_method }}</span>
            </div>
            <div>
              <span class="d-block">Transaction ID: </span
              ><span class="font-weight-bold"
                >{{ order.payment.payment_id }}</span
              >
            </div>
          </div>
          <hr />
          <table class="table">
            <tbody>
              {% for item in ordered_products %}
              <tr>
                <td>
                  <img
                    src="{{ item.product_image_url}}"
                    width="100"
                    alt="Food Image"
                  />
                </td>
                <td>
                  <p class="mb-0"><b>{{ item.product.product_title }}</b> (${{ item.product_price }})</p>
                  <span><b>size:</b>{{ item.product_size }}</span> <br>
                  <span><b>colour:</b>{{ item.product_colour }}</span>
                </td>
                <td>{{ item.quantity }} QTY</td>
                <td>${{ item.total_amount }}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>

          <div class="row mt-5">
            <div class="d-flex justify-content-center col-md-6">
              <img src="{% static 'img/paid.png' %}" width="200" />
            </div>
            <div class="col-md-6">
              <ul>
                <li style="list-style-type: none">
                  Subtotal
                  <span class="price float-right">
                    <span class="currency">$</span>
                    <span id="subtotal">{{ order.order_subtotal }}</span>
                  </span>
                </li>
                
                {% if order.coupon %}
                
                <li style="list-style-type: none">
                  "{{order.coupon}}" coupon {{order.coupon.discount}}% off
                  <span class="price float-right">
                    <span class="currency">-$</span>
                    <span id="subtotal">{{ order.discount }}</span>
                  </span>
                </li>
                <hr>
                <li style="list-style-type: none">
                  Total
                  <span class="price float-right">
                    <span class="currency">$</span>
                    <span id="subtotal">{{ dis_sub_total }}</span>
                  </span>
                </li>
                  
                {% endif %}
                  

                {% for key, value in tax_data.items %}
                    {% for i, j in value.items %}
                        <li style="list-style-type: none">
                        {{ key }} <small>({{ i }}%)</small>
                        <span class="price float-right">
                            <span class="currency">$</span>
                            <span id="tax-{{ key }}">{{ j }}</span>
                        </span>
                        </li>
                    {% endfor %}
                {% endfor %}
                <li style="list-style-type: none; font-weight: 600">
                    TOTAL TAX
                    <span class="price float-right">
                      <span class="currency">$</span>
                      <span id="total">{{ order.total_tax }}</span>
                    </span>
                  </li>

                <li style="list-style-type: none; font-weight: 600">
                  TOTAL
                  <span class="price float-right">
                    <span class="currency">$</span>
                    <span id="total">{{ order.order_total }}</span>
                  </span>
                </li>
              </ul>
            </div>
          </div>
          <hr />
          <div class="d-flex justify-content-between">
            <div>
              <span class="d-block font-weight-bold"
                >Thanks for ordering with us.</span
              >
              <span>FoodOnline Team</span>
            </div>
            <div class="d-flex justify-content-end align-items-end">
              <span class="d-block font-weight-bold">Need help?</span>
              <span>Call - +91 0011223344</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>


{% include 'includes/footer.html' %}

{% endblock content %}